image:
  repository: jesuspaz/clustercost-agent-k8s
  tag: "latest"
  pullPolicy: Always

imagePullSecrets: []

namespace:
  create: false
  name: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

commonLabels: {}

service:
  type: ClusterIP
  port: 8080
  annotations: {}

resources:
  requests:
    cpu: "100m"
    memory: "128Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"

nodeSelector: {}
affinity: {}
tolerations: []

priorityClassName: ""

podLabels: {}
podAnnotations: {}
podSecurityContext: {}
pod:
  hostNetwork: true
  hostPID: true

securityContext:
  privileged: true
  allowPrivilegeEscalation: true
  runAsUser: 0
  runAsGroup: 0
  capabilities:
    add:
      - SYS_RESOURCE
      - SYS_ADMIN
      - BPF
      - PERFMON
  seccompProfile:
    type: Unconfined


clusterName: ""

env:
  - name: NODE_NAME
    valueFrom:
      fieldRef:
        fieldPath: spec.nodeName
  - name: POD_NAME
    valueFrom:
      fieldRef:
        fieldPath: metadata.name
  - name: POD_NAMESPACE
    valueFrom:
      fieldRef:
        fieldPath: metadata.namespace

  - name: CLUSTERCOST_SCRAPE_INTERVAL
    value: "15"
  - name: CLUSTERCOST_ENABLE_NETWORK
    value: "true"
  - name: CLUSTERCOST_NETWORK_REPORT_INTERVAL
    value: "300"
  - name: CLUSTERCOST_REMOTE_ENDPOINT
    value: "clustercost-dashboard.clustercost.svc.cluster.local:9091"
  - name: CLUSTERCOST_REMOTE_PROTOCOL
    value: "grpc"
  - name: CLUSTERCOST_REMOTE_AUTH_TOKEN
    value: ""
  - name: GOGC
    value: "100"
  - name: LOG_LEVEL
    value: "info"

rbac:
  create: true
