{{- $fullName := include "recon-agent.fullname" . -}}

apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ $fullName }}
  labels:
    {{- include "recon-agent.labels" . | nindent 4 }}
    {{- with .Values.commonLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  selector:
    matchLabels:
      {{- include "recon-agent.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "recon-agent.selectorLabels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      annotations:
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      serviceAccountName: {{ include "recon-agent.serviceAccountName" . }}
      dnsPolicy: ClusterFirstWithHostNet
      {{- if .Values.pod.hostNetwork }}
      hostNetwork: true
      {{- end }}
      {{- if .Values.pod.hostPID }}
      hostPID: true
      {{- end }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName | quote }}
      {{- end }}
      containers:
        - name: agent
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            {{- if .Values.clusterName }}
            - name: CLUSTER_NAME
              value: {{ .Values.clusterName | quote }}
            {{- end }}
            {{- toYaml .Values.env | nindent 12 }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          {{- $liveness := .Values.livenessProbe }}
          {{- if $liveness.enabled }}
          livenessProbe:
            {{- omit $liveness "enabled" | toYaml | nindent 12 }}
          {{- end }}
          {{- $readiness := .Values.readinessProbe }}
          {{- if $readiness.enabled }}
          readinessProbe:
            {{- omit $readiness "enabled" | toYaml | nindent 12 }}
          {{- end }}
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: bpf
              mountPath: /sys/fs/bpf
              mountPropagation: Bidirectional
            - name: cgroup
              mountPath: /sys/fs/cgroup
              readOnly: true
            - name: btf
              mountPath: /sys/kernel/btf
              readOnly: true
            - name: debug
              mountPath: /sys/kernel/debug
              readOnly: false
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: bpf
          hostPath:
            path: /sys/fs/bpf
        - name: cgroup
          hostPath:
            path: /sys/fs/cgroup
        - name: btf
          hostPath:
            path: /sys/kernel/btf
        - name: debug
          hostPath:
            path: /sys/kernel/debug
